@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #3433b2;
}

nav{
    
    padding: 10px;
    top: 0%;
    color: white;
    background-color: #3433b2;
}
nav ul h1{
    padding-top: 10px;
    margin-left: 40px;
    font-family: 'DynaPuff', cursive;

}
nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: right;
    
}

nav ul li{
    display: flex;
    align-items: right;
    margin-left: 50px;
    padding-top: 3px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

nav ul li:hover{
    padding-top: 5px;
    text-decoration: underline;
}

#jam-digital{
    overflow:hidden; 
    width:150px;
    margin-left: 10cm;
}

#hours{
    float:left; 
    width:40px; 
    height:50px; 
    margin-right:10px;
}

#minute{
    float:left; 
    width:40px; 
    height:50px; 
    margin-right:10px;
}

#second{
    float:right; 
    width:40px; 
    height:50px; 
    margin-left:10px;
}

#jam-digital p{
    color:#000; 
    font-size:20px; 
    text-align:center; 
    margin-top:4px;
    color: white;
}

.loker{
    background-color: blueviolet;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 3cm;
    padding-right: 3cm;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-top: 20px;
    border-radius: 30px;
    color: white;
}
.loker a{
    margin-top: 10px;
    background-color: cadetblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.loker a:hover{
    background-color: white;
    color: cadetblue;
    transition: all ease 0.2s;
}

.loker1{
    background-color: blueviolet;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 3cm;
    padding-right: 3cm;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-top: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
    color: white;
}
.loker1 a{
    margin-top: 10px;
    background-color: cadetblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.loker1 a:hover{
    background-color: white;
    color: cadetblue;
    transition: all ease 0.2s;
}

::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    background: cadetblue;
    border-radius: 20px;
}
  
::-webkit-scrollbar-thumb {
    background: wheat;
    border-radius: 20px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: blueviolet;
}

@media screen and (max-width : 375px) {
    nav h1 {
        padding-top: 10px;
        margin-left: 1px;
        font-family: 'DynaPuff', cursive;
        font-size: 20px;
    }

    nav ul {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: right;
        margin-left: 100px;
        margin-top: -33px;
    }

    nav ul li {
        display: flex;
        align-items: right;
        margin-left: 1px;
        padding-top: 3px;
    }

    nav ul li a {
        text-decoration: none;
        color: white;
        padding: 8px;
        font-size: 13px;
        font-family: 'Roboto', sans-serif;
    }
}