@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

@media screen and (max-width:1484px) {
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #3433b2;
}

nav {

    padding: 10px;
    position: absolute;
    top: 0%;
    color: white;
}

nav h1 {
    padding-top: 10px;
    margin-left: 40px;
    font-family: 'DynaPuff', cursive;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: right;
    margin-left: 150px;
    margin-top: -40px;

}

nav ul li {
    display: flex;
    align-items: right;
    margin-left: 50px;
    padding-top: 3px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

nav ul li:hover {
    padding-top: 5px;
    text-decoration: underline;
}

img {
    width: 100%;
}

.img {
    text-align: center;
}

.about {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p a {
    background-color: #7F8487;
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

.about {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.anda {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    color: white;
}

.kami {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 50%;
    top: 73%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    color: white;
}

#jam-digital {
    overflow: hidden;
    width: 150px;
    margin-left: 10cm;
}

#hours {
    float: left;
    width: 40px;
    height: 50px;
    margin-right: 10px;
}

#minute {
    float: left;
    width: 40px;
    height: 50px;
    margin-right: 10px;
}

#second {
    float: right;
    width: 40px;
    height: 50px;
    margin-left: 10px;
}

#jam-digital p {
    color: #000;
    font-size: 20px;
    text-align: center;
    margin-top: 4px;
    color: white;
}



    .toggle {
        display: none;
    }

}

@media screen and (max-width: 375px) {
    body{
        overflow: hidden;
    }

    #jam-digital{
        display: none;
    }
    
    .toggle{
        /* display: inline;
        border: 2px solid gray;
        float: right;
        margin-top: -20px;
        margin-left: 330px;
        padding-left: 2px;
        padding-right: 3px;
        padding-top: 1px;
        border-radius: 3px; */
        display: none;
    }

    img{
        height: 50%;
    }

    input{
        display: none;
    }

    nav h1 {
        padding-top: 10px;
        margin-left: 10px;
        font-family: 'DynaPuff', cursive;
        font-size: 20px;
    }

    nav ul {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: right;
        margin-left: 100px;
        margin-top: -33px;
    }

    nav ul li {
        display: flex;
        align-items: right;
        margin-left: 10px;
        padding-top: 3px;
    }

    nav ul li a {
        text-decoration: none;
        color: white;
        padding: 10px;
        font-size: 13px;
        font-family: 'Roboto', sans-serif;
    }
    
    .about {
        position: absolute;
        left: 50%;
        top: 37%;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -o-transform: translate(-50%);
        font-size: 10px;
    }
    
    .anda {
        font-family: 'Roboto', sans-serif;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -o-transform: translate(-50%);
        color: white;
        font-size: 20px;
        text-align: center;
    }
    
    .kami {
        font-family: 'Roboto', sans-serif;
        position: absolute;
        left: 50%;
        top: 28%;
        transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -o-transform: translate(-50%);
        color: white;
        text-align: center;
        font-size: 12px;
    }
}